.add-to-cart-btn {
    /*display: flow;*/
    /*right:  0;*/
    /*margin: 0 3vw 0 0;*/
    /*padding: 0;*/
    width: 3vh;
    height: 3vh;
    background-color: white;
    /*background: none;*/
    border: 0;
    border-radius: 50%;
}

.add-to-cart-btn:hover {
    background-color: #ababab;
}

.add-to-cart-btn:active {
    background-color: #02baff;
}

.add-to-cart-btn img {
    width: 100%;
    height: auto;
}

@media only screen and (orientation: portrait) {
    .add-to-cart-btn {
        width: 3vw;
        height: 3vw;
    }
}