.filter-btns-container {
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin-top: 17vh;
    height: 100%;
    width: 7vw;
}

.filter-btns-container button {
    height: 7vh;
    width: auto;
    margin: 0.5vh 2vw;
    padding: 0;
    border: none;
    border-radius: 50%;
}

.filter-btns-container button img {
    height: 7vh;
    width: auto;
    background: transparent;
}

@media screen and (orientation: portrait) {
    .filter-btns-container {
        margin-left: 1.6vw;
    }
}

@media screen and (orientation: landscape) {
    .filter-btns-container {
        margin-left: 3.7vw;
    }
}