.filter-btns-container {
    text-align: left;
    /*background-color: cadetblue;*/
    /*background-color: aqua;*/
    /*background-color: cornflowerblue;*/
    position: absolute;
    top: 9vh;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 7vh;
    width: auto;
    min-width: 10px;
}

.filter-btns-container button {
    height: 7vh;
    width: auto;
    margin: 0.5vh 2vw;
    border-radius: 50%;
}

.filter-btns-container button img {
    height: 5vh;
    width: auto;
    background: transparent;
}