.board-content-container {
    display: flex;
    flex-direction: column;
    margin-top: 7vh;
    height: 61vh;
    width: 100%;
    /*background: red;*/
    color: white;
}

.title {
    font-size: 2em;
}

.meals-list {
    margin-bottom: 0.7em;
    font-size: 1.3em;
    text-align: left;
    /*list-style-type: "🍲";*/
    /*list-style-type: "🍽️";*/
    list-style-type: "🍴";
    list-style-position: outside;
}

.meals-list {
    margin-bottom: 0.7em;
    font-size: 1.5em;
    text-align: left;
}

.meal-name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.meals-list span {
    position: relative;
    margin-left: 0.3em;
}

.down-arrow {
    font-size: 0.5em;
}

.meals-list{
    margin-left: 9vw;
}