.board-content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    color: white;
    align-items: center;
}

.scrollable {
    overflow: auto;
}

.title {
    font-size: 4vh;
    text-transform: uppercase;
}

/*.meals-list {*/
/*    margin-bottom: 0.7em;*/
/*    font-size: 2vh;*/
/*    text-align: left;*/
/*    !*list-style-type: "🍲";*!*/
/*    !*list-style-type: "🍽️";*!*/
/*    list-style-type: "🍴";*/
/*    list-style-position: outside;*/
/*}*/

.meals-list {
    width: 100%;
    font-size: 2.8vh;
    text-align: left;
    list-style-type: "🍴";
    /*margin-left: 2vh;*/
    list-style-position: outside;
}

.meal-details {
    width: 98%;
    margin-bottom: 0.7em;
 }

.meal-name {
    /*max-width: 52vh;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.down-arrow {
    font-size: 0.5em;
}

.meal-price {
    padding-right: 1.3vh;
}

@media only screen and (orientation: portrait) {
    .title {
        font-size: 5vw;
        margin-top: 2vw;
    }
    
    .meals-list {
        font-size: 4vw;
        margin-left: 4vw;
        /*max-width: 59vw;*/
    }

    .meal-price {
        padding-right: 1.5vw;
    }
}
