.meal-price-display {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.meal-price-display p {
    margin-right: 1vh;
}

@media only screen and (orientation: portrait) {
    .meal-price-display p {
        margin-right: 1vw;
    }
}