.checkbox-container {
    display: flex;
    justify-content: flex-end;
    padding: 2vh 4vh 1vh;
    font-size: 2.5vh;
}


@media only screen and (orientation: portrait) {
    .checkbox-container {
        padding: 2vw 4vw 1vw;
        font-size: 2.5vw;
    }
}