
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #f2f2f2;
  text-align: center;
  font-family: Lucida Handwriting;
}


@media screen and (max-width: 480px) {
  #navbarItem {
    margin-top: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
}

@media screen and (min-width: 480px) {
  #navbarItem {
    margin-top: 3vh;
    margin-left: 8vw;
    margin-right:8vw;
  }
  img {
    width: 100px;
    height: 100px;
  }
}
