
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #f2f2f2;
  text-align: center;
  font-family: Lucida Handwriting;
}

#navbarItem {
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10px;
}
