body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: cover ;  
  height: 100vh;
}

@media screen and (max-width: 480px) {
  body {
    background-image: url("./img/backgroundmobile.png");
  }
}

@media screen and (min-width: 480px) {
  body {
    background-image: url("./img/background.png");
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
